.dashboardContainer{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboardLeftContainer{
    width:69%;
    height: 100%;
}
.dashboardRightContainer{
    width:29%;
    background-color: white;
    min-height: 100%;
    padding:20px 10px;
}

.bannerImgContainer {
    width: 100%;
    height: 25%;
    background-color: white;
    background-image:
      linear-gradient(to right, blue 1%, transparent 100%,blue 100%), 
      url('../../../public/assets/imgs/carousel4.jpeg'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  
.bannerImg{
    width:100%;
    height:100%;
}

.bannerContent{
    width:100%;
    height:100%;
    color:white;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.bannerTitle{
    font-size: 1.5rem;
    font-weight: 600;
}
.bannerText{
    font-size: 1.2rem;
    width:70%;
}

.dashboardCards{
    padding:10px 0px;
    height:20%;
    display: flex;
    justify-content: space-between;
}
.dashboardAreaChart{
    height:40%;
    width:100%;
}
